.ShoppingNamelist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* padding-left: 17px; */
    /* width: calc(100vw - 17px); */
    width: 100%;
    height: 100vh;
   
  }
  