.ShoppingNamelist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-left: 17px;
    width: calc(100vw - 17px);
    width: 100%;
    min-height: 75vh;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    /* margin-left: 3.7vw; */
    margin-bottom: 5vh;
}

.choresWrapper {
    width: 76%;
    margin-left: 0vw;
}

.choresList {
    padding-top: 1em;
    row-gap: 1em;
}


@media screen and (min-width: 1200px) {

    .choresWrapper {
        width: 76%;
        margin-left: 7.4vw;
    }
    .choresList {
        display: flex;
        justify-content: space-evenly;
        column-gap: 1em;
    }
    .choresList {
        padding-top: 1.8em;
    }
    .todoItems,
    .completedItems {
        width: 50%;
    }
}
