.ShoppingNamelist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* padding-left: 17px; */
    /* width: calc(100vw - 17px); */
    width: 100%;
    height: 100vh;
}

.choresWrapper {
    width: 76%;
}

.choresList {
    row-gap: 1em;
}


@media screen and (min-width: 1200px) {
    .choresList {
        display: flex;
        justify-content: space-evenly;
        column-gap: 1em;
    }
    .todoItems,
    .completedItems {
        width: 50%;
    }
}
