@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,500&display=swap');


.home {
  display: flex;
  flex-direction: row-reverse;
  width: 100vw;
  height: 100vh;
}


.home .left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 40vw;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  padding-top: 27vh;
  
}

.home .left h1 {
  font-size: 90px;
  font-weight: bolder;
  margin-bottom: 3vh;
  color: #302f2f;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 22vw;
}

.home .left p {
  font-size: 40px;
  margin: 0;
  margin-top: 1vh;
  font-weight: 500;
}

/* .home .left .buttons{

} */


.home .left button {
  
  margin: 12vh 1vw 0 1vw;
  width: 7vw;
  height: 4vh;
  border-radius: 8px;
  border: none;
  background-color: rgb(179, 114, 240);
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: bold;
  box-shadow: 2px 2px 5px 3px #000000;
}

.home .left .signup {
  background-color: rgb(188, 150, 248);

}
.home .left .signup:hover {
  background-color: rgb(189, 153, 247);
}

.home .left button:hover {
 
  transform: scale(1.01);
  transition: 0.3;
  background-color: rgb(185, 126, 240);;
  box-shadow: 3px 3px 4px 3px #2e2e2e;
}


.home .right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 55vw;
  height: 100vh; 
}

.home .right img {
  width: 26vw;
  z-index: 3;
}




@media only screen and (max-width: 440px) {
  
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }
  
  .home .left {
    
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    padding-top: 2vh;
    
  }
  
  .home .left h1 {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 3vh;
    margin-top: 2vh;
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    margin-top: 1vh;
  }
  
  .home .left p {
    font-size: 28px;
    margin: 0;
    margin-top: 0.4vh;
    font-weight: 500;
  }
  
 .buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 20vh;
    width: 60vw;
    margin-top: 4vh;

 }
  
  
  .home .left button {
    margin-top: 0;
    margin: 3.4vh 1vw 0 1vw;
    width: 32vw;
    height: 4.4vh;
    border-radius: 8px;
    border: none;
    background-color: rgb(116, 83, 207);
    font-size: 17px;
    font-weight: bold;
    box-shadow: 2px 2px 5px 3px #000000;
    text-align: center;
  }
  
  .home .left .signup {
    background-color: rgb(160, 134, 231);
  
  }
  .home .left .signup:hover {
    background-color: rgb(172, 147, 240);
  }
  

  
  .home .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 94vh;
   
  }
  
  .home .right img {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5vh;
    margin-left: 0;
    width: 64vw;
    height: 40vh;
  }
  
  
}

@media only screen and (max-width: 390px) {
  

  
 
  
  .home .left h1 {
    font-size: 58px;
    font-weight: bold;
    margin-bottom: 2.8vh;
    margin-top: 1.6vh;
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    margin-top: 1vh;
  }
  
  .home .left p {
    font-size: 26px;
    margin: 0;
    margin-top: 0.4vh;
    font-weight: 500;
  }
  
 .buttons {
    height: 20vh;
    width: 70vw;
    margin-top: 3.8vh;

 }
  
  
  .home .left button {
    width: 34vw;
   
  }
  
  
  
  .home .right img {
   
    
   
    width: 67vw;
    height: 42vh;
  }
  
  
}

