@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,500&display=swap');

/* this is the landing page css */

/* this centres the entire page to the middle of the screen. The flex-direction row-reverse allows the logo image to display first because the text would stack on top of the logo in the mobile, so this reverses the issue*/

.home {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
}

/* this div contains the text and displays it on the left handside of the landing page */

.home .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 40vw;
  height: 94vh;
  font-family: 'Roboto', sans-serif;
  padding-left: 12vw;
}

/* div that controls the positioning of the text */

.textbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 80%;
  padding-right: 140px;
  padding-top: 60px;

}

.home .left h1 {
  font-size: 90px;
  font-weight: bolder;
  margin-bottom: 3vh;
  color: #302f2f;
}

/* this controls the text below the h1  */
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  text-align: left;
  width: 22vw;
}

.home .left p {
  font-size: 40px;
  margin: 0;
  margin-top: 1vh;
  font-weight: 500;
}

.home .left button {
  
  margin: 6vh 1vw 0 1vw;
  width: 8vw;
  height: 6vh;
  border-radius: 8px;
  border: none;
  background-color: rgb(179, 114, 240);
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: bold;
  box-shadow: 2px 2px 5px 3px #000000;
}

/* this is the styling for the buttons, it changes colour on hover */
.home .left .signup {
  background-color: rgb(188, 150, 248);

}
.home .left .signup:hover {
  background-color: rgb(189, 153, 247);
}

.home .left button:hover {
 transition: 0.3;
  background-color: rgb(205, 172, 236);;
  box-shadow: 3px 3px 4px 3px #2e2e2e;
}

/* this contains the logo image and positions to the right of the screen */


.home .right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55vw;
  height: 94vh; 
}

.home .right img {
  width: 33vw;
  z-index: 3;
  padding-right: 180px;
  padding-bottom: 50px;
}


.footer {
  margin-left: 0vw;
}



@media only screen and (max-width: 440px) {
  
  /* this stacks the home logo and text on the landing page on top of each other */
  .home {
    display: flex;
    justify-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  
  .home .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 40%;
    font-family: 'Roboto', sans-serif;
    padding-left: 0vw;
  }
  
  .textbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    padding-right: 0px;
    padding-top: 0px;
  }
  
  .home .left h1 {
    font-size: 54px;
    font-weight: bolder;
    margin-bottom: 3vh;
    color: #302f2f;
  }
  
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
  }
  
  .home .left p {
    font-size: 24px;
    margin: 0;
    margin-top: 1vh;
    font-weight: 500;
  }
  
  
  .home .left button {
    margin: 9vh 1vw 9vw 1vw;
    width: 128px;
    height: 34px;
    border-radius: 8px;
    border: none;
    background-color: rgb(179, 114, 240);
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: bold;
    box-shadow: 2px 2px 5px 3px #000000;
  }
  
  .home .left .signup {
    background-color: rgb(188, 150, 248);
  
  }
  .home .left .signup:hover {
    background-color: rgb(189, 153, 247);
  }
  
  .home .left button:hover {
    transition: 0.3;
    background-color: rgb(185, 126, 240);;
    box-shadow: 3px 3px 4px 3px #2e2e2e;
  }
  
  
  .home .right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48vh; 
  }
  
  .home .right img {
    width: 56vw;
    z-index: 3;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 20px;
  }
  
  
  .footer {
    margin-left: 0vw;
  }

}