@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,500&display=swap');


.home {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;


}

.container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.home .left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 40vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  padding-top: 27vh;
  padding-left: 15vw;
}

.home .left h1 {
  font-size: 90px;
  font-weight: bolder;
  margin-bottom: 3vh;
  color: #302f2f;
}

.home .left p {
  font-size: 40px;
  margin: 0;
  margin-top: 1vh;
  font-weight: 500;
}

/* .home .left .buttons{

} */


.home .left button {
  margin-top: 14vh;
  margin: 14vh 1vw 0 1vw;
  width: 7vw;
  height: 4vh;
  border-radius: 8px;
  border: none;
  background-color: rgb(206, 158, 252);
  cursor: pointer;
  color: black;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 3px 3px 8px 3px #000000;
}

.home .left .signup {
  background-color: rgb(233, 210, 255);

}
.home .left .signup:hover {
  background-color: rgb(230, 214, 248);
}

.home .left button:hover {
 
  transform: scale(1.01);
  transition: 0.3;
  background-color: rgb(208, 167, 247);
  box-shadow: 3px 3px 8px 3px #302f2f;
}


.home .right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50vw;
  height: 94vh;
 
}

.home .right img {
  margin-left: 3vw;
}

.home .right img svg{
  width: 100%;
  height: 80vh;
  z-index: 2;
  padding-left: 30vw;
  margin-bottom: 6vh;
}