/* pc screens */

.navbar {
  position: fixed;
  background-color: #8A82E8;
  width: 7.4vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  left: 0;
  top: 0;
  border-bottom: 2px solid black;
  box-shadow: 1px 4px 4px -1px #3a3a3a;
  transition: left .32s;
  
}

.navbar-logo {
  margin-top: 24px;
  
  width: 80px;
  height: 80px;
  
}

.logoBox  {
 display: flex;
 justify-content: center;
 align-items: center;
 margin-bottom: 40px;
 }

 .logoBox  {
 display: flex;
 justify-content: center;
 align-items: center;
 margin-bottom: 40px;
 }

.navContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 78%;

}

/* .navContainer, .close {
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  /* background-color: aqua; */
 

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* background-color: yellow; */
}

.iconContainer img{
  width: 64px;
  height: 64px;
  padding-right: 26px;
}



.list-icons {
  font-size: 3em;
}


.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 17px;
  height: 17px;
  background-color: red;
  top: -20px;
  left: 75px;
  color: white;
  font-weight: 500;
  border: 2.5px solid black;
  font-size: 12px;
  font-family: roboto;
  text-decoration: none;
  
}

.mobile-menu-button {
  opacity: 0;
  display: hidden;
  position: absolute;
  top: 106px;
  right: -35px;
  border: none;
  border-radius: 0 150px 150px 0;
  height: 84px;
  width: 40px;
  background-color: #8A82E8;
}








 @media only screen and (max-width: 440px) { 
 
 .navbar {
  width: 22vw;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  transition: left .32s;
  /* left: -20vw; */
  z-index: 3;
  border-bottom: 2px solid black;
  box-shadow: 1px 4px 4px -1px #585858;
  }

  .open {
    width: 22vw;
    transition: left .32s;
}

.close {
  width: 0vw;
  display: none;
}

  .navbar-logo {
    margin-top: 20px;
    margin-bottom: 24px;
  }

  .navContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    /* background-color: aqua; */
  }
  
  .logoBox  {
    margin-bottom: 10px;
   }

  .logoBox img {
   width: 56px;
   height: 56px;
  }
 
  .iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* background-color: yellow; */
  }

  .iconContainer img{
    width: 46px;
    height: 46px;
    padding-right: 18px;
  }
   
  
  .notification {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 13px;
    height: 13px;
    background-color: red;
    top: -18px;
    left: 54px;
    color: white;
    font-weight: 500;
    border: 2px solid black;
    font-size: 10px;
    font-family: roboto;
    
  }
  
 

  .mobile-menu-button {
    display: flex;
    position: fixed;
    top: 150px;
    left: 21.09vw;
    border: none;
    border-radius: 0 150px 150px 0;
    height: 84px;
    width: 40px;
    background-color: #8A82E8;
    opacity: 1;
    cursor: pointer;
    z-index: 1;
    visibility: visible;
    box-shadow: 1px 1px 2px 2px #585858;
  
  }
  
  .mobile-menu-button-closed {
    
    position: fixed;
    top: 150px;
    left: 0px;
    border: none;
    border-radius: 0 150px 150px 0;
    height: 84px;
    width: 40px;
    background-color: #8A82E8;
    opacity: 1;
    cursor: pointer;
    z-index: 5;
    visibility: visible;
    box-shadow: 1px 1px 2px 2px #585858;
    
  
  }

}